rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Разрешаем чтение и запись для авторизованных пользователей
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
